
.aside_block {
    padding: 5px;
    background: cadetblue;
    flex-basis: 300px;

    text-align: center;
}
.wrapper_save_button{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;
}